.list-body {
  width: 408px;
  height: 692px;
  overflow-y: scroll;
  overflow-x: scroll;
  background-color: #f2f2f2;
}

ul {
  margin: 10px 0 10px 0;
}
li {
  width: 100%;
  list-style: none;
  margin: 5px 0 0 50px;
}

.article-link-wrap:active {
  color: white;
}

li:hover {
  background-color: #bac3f3;
  color: black;
}

.article-link:hover {
  background-color: #b1baee;
  color: black;
}

.link-string:active {
  background-color: #1332af;
  color: white;
}

.edit-category {
  margin-bottom: 15px;
}

.link-string a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.category-list-wrapper {
  flex: 1;
  margin: 30px;
}

.warning-text {
  margin-top: 5px;
}

.mt-2 {
  margin-right: 10px;
}

.main {
  margin-left: 30px;
}

.btn-direction {
  width: 90px;
  height: 36px;
  background-color: #ffffff;
  color: #333333;
  font-size: 18px;
  border: 2px solid #b4afaf;
}

._right {
  margin-right: 10px;
}

.lines {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 30px 0 5px 0;
}
.lines textarea {
  width: 380px;
  height: 48px;
  margin-left: 20px;
  resize: none;
}

.save {
  margin: 45px 0 0 35px;
}